<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link rel="stylesheet" href="public/bower/bootstrap/dist/css/bootstrap.css">

    <!--move scripts to bottom-->
    <script src="public/bower/jquery/dist/jquery.js"></script>
    <script src="public/bower/tether/dist/js/tether.js"></script>
    <script src="public/bower/tether/dist/css/tether.css"></script>
    <script src="public/bower/bootstrap/dist/js/bootstrap.js"></script>
    <script src="public/bower/socket.io-client/dist/socket.io.slim.js"></script>
    <script src="public/bower/lodash/dist/lodash.js"></script>
    <script src="public/bower/vue/dist/vue.js"></script>
    <script src="public/bower/vue-router/dist/vue-router.js"></script>
    <script src="public/bower/requirejs/require.js"></script>

  </head>
  <body>
  <div id="webapp">
    <h2>UMPGGK tournament</h2>


    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md">
          <!--table with scoreboard-->
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>Gracz</th>
              <th>Punkty</th>
            </tr>
            </thead>
            <tbody>
              <tr is="player" v-for="player in scoreboard(players)" :key="player.playerId" :player="player"></tr>
            </tbody>
          </table>

        </div>
        <div class="col col-md">
          <!--tabela meczy-->
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>Gracz 1</th>
              <th>Gracz 2</th>
              <th>Wynik</th>
              <th>Zwycięzca</th>
            </tr>
            </thead>
            <tbody>
            <tr is="match" v-for="match in roundMatches(ui.match)" :key="match.matchId" :match="match"></tr>
            </tbody>
          </table>
        </div>
        <div class="col-2 col-md-2">
          <select v-model="ui.match" title="round">
            <option disabled value="">Please select one</option>
            <option value="0">All</option>
            <option v-for="round in rounds">{{round.roundId}}</option>
          </select>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>White</th>
              <th>Black</th>
              <th>Winner</th>
              <th>Moves</th>
              <th>End</th>
            </tr>
            </thead>
            <tbody>
            <tr  v-for="game in games">
              <td>{{game.gameId}}</td>
              <td>{{game.white}}</td>
              <td>{{game.black}}</td>
              <td>{{game.winner}}</td>
              <td>{{game.moves}}</td>
              <td>{{game.isFinished}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="col">
          <table class="table table-hover table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>red</th>
              <th>blue</th>
              <th>startedAt</th>
            </tr>
            </thead>
            <tbody>
            <tr  v-for="match in matches">
              <td>#</td>
              <td>{{match.red}}</td>
              <td>{{match.blue}}</td>
              <td>{{match.startedAt}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <script>


      Vue.component('player',{
          props: ['player'],
          template: '<tr><td>{{player.playerId}}</td>' +
          '<td>{{player.name}}</td>' +
          '<td>{{player.points}}</td></tr>'
      });
      Vue.component('match',{
          props: ['match'],
          template: '<tr>' +
          '<td>{{match.matchId}}</td>' +
          '<td>{{match.red}}</td>' +
          '<td>{{match.blue}}</td>' +
          '<td>{{match.redPoints}} - {{match.bluePoints}}</td>' +
          '<td>{{winner}}</td>' +
          '</tr>',
          data: function () {
              if(this.match.redPoints > this.match.bluePoints){
                  return {winner : this.match.red}
              } else if(this.match.redPoints < this.match.bluePoints){
                  return {winner : this.match.blue}
              } else {
                  return {winner : "-"}
              }
          }
      });
      Vue.component('game',{
          props: ['game'],
          template: '<tr><td>{{game.gameId}}</td><td>{{game.winner}}</td></tr>'
      });



      let app = new Vue({
          el: '#webapp',
          data: {
              "tournament": {},
              "players": [
                 
                  ],
              "rounds": [

              ],
              "matches": [
               
              ],
              "games": [
                
              ],
              "ui":{
                  player:null,
                  round:null,
                  match:0,
                  game:null,
              }
          },
          methods: {
              scoreboard: function (players) {
                  return _.orderBy(players,['points','name'],['desc'])
              },
              roundMatches: function (roundNumber) {
                  if(roundNumber !== 0){
                      let round = _.find(this.rounds, function(round) { return round.roundId === roundNumber; });
                      return _.filter(this.matches, function(match){
                          return  _.includes(round.matches,match.matchId)
                      })
                  } else {
                      return this.matches
                  }

              }
          }
      });

      const  socket = io();
      /*testing*/
      socket.on('data',function(response){
          console.log("Emit: "+ (new Date()).getTime());

          /*big piece on ugly code :D*/

          /*if this works i go to drink...*/

          if(response.action !== "assign"){
              if(response.filter){
                  let filter = response.filter;
                  let value = response.value;
                  if(response.get){
                      app[response.table].find(function(obj){
                          return obj[filter] === value;
                      })[response.get][response.action](response.data);
                      return;
                  }
                  app[response.table].find(function(obj){
                      return obj[filter] === value;
                  })[response.action](response.data);

                  return;
              }
              if(response.get){
                  app[response.table][response.get][response.action](response.data);
                  return;
              }
              app[response.table][response.action](response.data);
          }
          else {
              if(response.filter){
                  let filter = response.filter;
                  let filterValue = response.value;

                  if(response.get){
                      _.forIn(response.data,function(value,key){
                          app[response.table].find(function(obj){
                              return obj[filter] === filterValue;
                          })[response.get][key] = value;
                      });
                      return;
                  }

                  _.forIn(response.data,function(value,key){
                      app[response.table].find(function(obj){
                          return obj[filter] === filterValue;
                      })[key] = value;
                  });
                  return;
              }
              if(response.get){
                  _.forIn(response.data,function(value,key){
                      app[response.table][response.get][key] = value;
                  });
                  return;
              }
              _.forIn(response.data,function(value,key){
                  app[response.table][key] = value;
              });


          }

      })

      socket.on('database',function (response) {
          app.tournament = response.tournament;
          app.players = response.players;
          app.rounds = response.rounds;
          app.matches = response.matches;
          app.games = response.games;
      })
    </script>
  </body>
</html>
